html
{
   font-size:15px;
}
.sectionStyle 
{
    padding-left:12%;
    padding-right:12%;
}
.swiggyLogo
{
    margin-left:-2.06rem;
    margin-bottom:0.6rem;
}
.header li 
{   
    float:left;
    list-style:none;
}
.header
{
    margin-top:-4.6rem;
    margin-left:2.6rem;
    margin-bottom:4rem;
}
.setLocation 
{
    position:relative;
    left:-2rem
}
.setLocation li
{
    padding-left:1rem;
}
.header li a 
{
    text-decoration:none;
    color:black;
}
.header li a:hover
{
    color:rgb(221, 126, 36);
}
.menu
{   
    float: right
}
.menu li 
{
    padding-left:2rem;
    margin-top:-1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.location 
{
    background-color:rgba(243, 243, 243, 0.89);
    color:rgb(39, 35, 35);
    height:2rem;
    font-size:0.6rem;
    padding-top:0.13rem;
}
.resturant 
{
    background-color:rgb(21, 21, 44);
    height:13.3rem;
    display:flex;
    justify-content:space-between;
}
.resturantLogo
{
    margin-top:1rem;
}
.resturantName
{
    color:white;
    margin-left:3rem;
    line-height:0.33rem;
    padding-top:2rem;
    flex:2;
}
.resturantName h2
{   
    font-family:'Lato', sans-serif;
}
.resturantName h5
{
    color:rgb(185, 179, 179);
    font-family:'Lato', sans-serif;
}
.resturantName h6
{
    margin-top:-0.46rem;
    color:rgb(185, 179, 179);
    font-family:'Lato', sans-serif;
}
.offer 
{
    border:0.1rem rgb(182, 180, 180) solid;
    color: white;
    margin-top:3rem;
    margin-bottom:1.2rem;
    margin-right:-3.5rem;
}
.offer h2
{   
    font-family:'Lato', sans-serif;
    margin-right:10rem;
    position: relative;
    top:-2.2rem;
    left:-0.7rem;
    background-color:rgb(21, 21, 44);
    font-weight:1;
    /*font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif*/
}
.offer h4
{
    margin-top:-2rem;
    padding-left:1rem;
}
.foodSection
{
    display: flex;
    justify-content:space-between;
}
.foodCategory
{  
    text-align:right;
    border-right:0.1rem rgb(231, 225, 225) solid;
    margin-top:2rem;
    padding-right:2rem;
}
.foodCategory li
{   
    list-style:none;
    height:30px;
}
.foodMenu
{   
    padding: 0 3.6rem;
    flex:2;
}
.filters
{
    display:flex;
    justify-content:space-between;
    position: relative;
    top: -1rem;;

}
.filtersStyle
{
    background-color:white; 
    border: 0.13rem rgb(240, 234, 234) solid;
    padding: 0.2rem 0.53rem;
}
.selectedCategory 
{
    line-height:0.6rem;
    margin-bottom:2.6rem;
}
.selectedCategory p
{
    font-size:1rem;
}
.food
{
    display: flex;
    justify-content:space-between;
    padding-bottom:1.3rem;
    margin-bottom:5.3rem;
    border-bottom:0.1rem rgb(231, 225, 225) solid;
}
.foodType
{
    width: 20px;
}
.addFood
{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.foodImage
{   
    border-radius:0.6rem;
    width:90px;
}
.addButton
{
    color: green;
    background-color: white;
    border:0.05rem grey solid;
    position:relative;
    top:-0.7rem;
    width:4rem;
    
}
.cart
{   
    padding-top:1.3rem;
    margin-right:-4rem;
    margin-left:6rem;
}
.cart h1
{
   padding-left:1.6rem;
}
.cartItem
{
    display:flex;
    padding-bottom:1.3rem;
    margin-bottom:1.3rem;
    border-bottom:0.1rem rgb(231, 225, 225) solid;
}
.cartItemName
{
    padding: 0rem 1rem;
}
.cartItemPrice
{
    padding-right:1rem;
}
.subTotalSection
{
    display: flex;
    justify-content: space-between;
}
.subTotalHeading
{
    padding-left:1rem;
}
.subTotalPrice
{
    padding-right:1rem;
}
#cartImage p
{
    padding-left:2rem;
}